<form class="card">
  <div class="card-header">
    Conversor de Binário para Decimal
  </div>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <label class="col-3">Número Binário</label>
        </div>
        <div class="col-6">
          <input type="numeroBinario" class="form-control" id="numeroBinario" placeholder="Digite um número binário">
        </div>
      </div>
      <div class="row">
        <label class="col-3">Número Decimal</label>
        <input type="numeroDecimal" class="form-control col-4" id="numeroDecimal" [disabled]="true">
      </div>
    </div>
    </div>
</form>