.card-header {
    text-align: center;
}
.card{
    width: 800px;
    margin-left: 400px;
}
.container{
    margin-top: 10px;
} 
.button{
    margin-top: 10px;
    margin-left: 330px;
}
.div{
    margin-top: 10px;
}
.binario {
    margin-bottom: 15px;
}